<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="box.css" />
  </head>
  <body>
    <div class="card">
      <div class="imgbox">
        <img
          src="ap.jpg"
        />
      </div>

      <div class="content">
        <h2>SONG 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          doloribus vitae fugit enim repudiandae
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgbox">
        <img
          src="zaynmalik.webp"
        />
      </div>

      <div class="content">
        <h2>SONG 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          doloribus vitae fugit enim repudiandae
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgbox">
        <img
          src="shwan6.jpg"
        />
      </div>

      <div class="content">
        <h2>SONG 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          doloribus vitae fugit enim repudiandae
        </p>
      </div>
    </div>
    <div class="card">
        <div class="imgbox">
          <img
            src="weeknd.jpg"
          />
        </div>
  
        <div class="content">
          <h2>SONG 4</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            doloribus vitae fugit enim repudiandae
          </p>
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img
            src="mark.jpg"
          />
        </div>
  
        <div class="content">
          <h2>SONG 5</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            doloribus vitae fugit enim repudiandae
          </p>
        </div>
      </div>

  </body>
</html>