<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="../static/playlist.css" rel="stylesheet">
</head>
<body style="background-image: url(../static/yellow_bk10.jpg);">
	<div class="topnav" style="position: relative;left: -10px;top: -10px; background-color: black; padding-left: 32%; height: 100px; padding-top: 1%;" >
		<i style="color: white;position: absolute; left: 30px;font-size: 80px;top: 17px; ">BeatStreet</i>
    <i style="color: white;position: absolute; right: 30px;font-size: 80px;top: 17px; ">Playlist Page</i>
	   
		<a href="/sample" style="font-size: 45px;margin-right: 20px;">Home</a>
		<a href="/artistpage" style="font-size: 45px;margin-right: 20px;" >Artists</a>
		<a href="/spotlight" style="font-size: 45px;margin-right: 20px;" >Spotlight</a>
		<a href="/me" style="font-size: 45px;margin-right: 20px;" >About</a>
		<a href="/search" style="font-size: 45px;margin-right: 20px;" >Search</a>
		<a href="/playlist" style="font-size: 45px;margin-right: 20px;"class="active" >Playlist</a>
	  </div>
	  <br><br>
	  <br><br>
	  <br>
    

    <table style="position: relative; left: 250px; bottom: 100px; width: 2000px;">
		<thead>
			<tr>
				<th>Song Name</th>
				<th>Duration</th>
				<th>Song Name</th>
				<th>Delete</th>

			</tr>
		</thead>
		<tbody>
			{% for row in songs %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td><a href="{{ url_for('delete', name=row[0]) }}"><button style="background-color: white;color: #000;width: 150px;font-size: 20px;">Remove</button></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
<footer style="position: fixed; top: 1350px; ">
    <p style="font-size: 30px; position: fixed; bottom: 0%; margin-bottom: 0%; left: 100px;">
     At BeatStreet, our mission is to create music that inspires and connects people.<br> We believe in the power of music to bring people together, to heal, to uplift, and to transform. We are grateful for your support and we hope our music can make a positive impact on your life.
    </p>
    </footer>

</html>