<!DOCTYPE html>
<html lang="en">
<head>
    <title>BeatStreet</title>
    <link rel="stylesheet" href="../static/sample.css">
    
</head>
<style>
       img {
                
                    height: 190px;
                    width: 190px;
       }

</style>
<body>

    <div class="main">
          
            <div class="topnav" style="background-color: black; padding-left: 32%; height: 8%; padding-top: 1%;" >
                <i style="color: white;position: absolute; left: 30px;font-size: 50px;top: 17px; ">BeatStreet</i>
               
                <a href="/sample" style="font-size: 25px;margin-right: 20px;" class="active">Home</a>
                <a href="/artistpage" style="font-size: 25px;margin-right: 20px;" >Artists</a>
                <a href="/spotlight" style="font-size: 25px;margin-right: 20px;" >Spotlight</a>
                <a href="/me" style="font-size: 25px;margin-right: 20px;" >About</a>
                <a href="/search" style="font-size: 25px;margin-right: 20px;" >Search</a>
                <a href="/playlist" style="font-size: 25px;margin-right: 20px;" >Playlist</a>
              </div>
              

            
            </div> 
        
        
            <br>
            <br>
                     
        <i class="top1"> <a href="/artistpage" style="position: absolute; color: white;font-size: 55px; font-family: 'Times';text-decoration: none;bottom: 795px;white-space: nowrap;" >Top Artists</a></i>
        <i class="top2"> <a href="/album" style="position: absolute; color: white;font-size: 55px; font-family: 'Times';text-decoration: none;bottom: 795px;white-space: nowrap;" >Top Albums</a></i>
        <i class="top3"> <a href="./songs" style="position: absolute; color: white;font-size: 55px; font-family: 'Times';text-decoration: none;bottom: 795px;white-space: nowrap;" >Top Songs</a></i>
       
       
       
        <a href="/album1" >  <img class="artist1" src="../static/chaman.jpeg" ></a>
        <a href="/album3" > <img class="artist2" src="../static/ap.jpg" ></a>
        <a href="/album5">  <img class="artist3" src="../static/weeknd.jpg" ></a>
       <a href="/a21"> <img class="album1" src="../static/starboy.jpg" ></a>
        <a href="/a17">  <img class="album2" src="../static/D2.jpeg" ></a>
        <a href="/a2">      <img class="album3" src="../static/hiddengems.jpeg" ></a>
        <img class="song1" src="../static/booo.jpeg" >
        <img class="song2" src="../static/starboysong.jpg" >
        <img class="song3" src="../static/summer.jpeg" >
        
    </div>


    <footer>
       
        <p style="font-size: 20px;position: absolute; left: 20px; text-align: left;bottom: 10px;">
         <br>At BeatStreet, our mission is to create music that inspires and connects people.<br> We believe in the power of music to bring people together, to heal, to uplift, and to transform.</br>
         We are grateful for your support and we hope our music can make a positive impact on your life.
        </p>
        <a  href="/me" style=" color: beige; position:absolute; bottom: 25px; left: 1500px;font-size: 30px;text-decoration: none; ">About</a>
<div class="icons" style="position: absolute; bottom: -17px;">
    <a class="i1" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
    <a class="i2" href="https://www.instagram.com" target="_main"><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="i3" href="https://www.twitter.com" target="_main"><ion-icon name="logo-twitter"></ion-icon></a>
    <a class="i4" href="https://www.youtube.com" target="_main"><ion-icon name="logo-youtube"></ion-icon></a>
    <a class="i5" href="https://www.skype.com" target="_main"><ion-icon name="logo-skype"></ion-icon></a>
</div>
 <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
        </footer>
        
   
    </div>
</body>
</html>